@model LonghornBankProject.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <h4>Product</h4>

    <table class="table">
        <tr>
            <td>
                @Html.ActionLink("Deposit", "Deposit", new { id = Model.ProductID })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Withdrawal", "Withdrawal", new { id = Model.ProductID })
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Transfer", "Transfer", new { id = Model.ProductID })
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { id = Model.ProductID })
</p>
