@model LonghornBankProject.Models.Product

@{
    ViewBag.Title = "CreateIRA";
}

<h2>Create An IRA Account</h2>

<div>
    @Html.ActionLink("Confirm to Create IRA Account", "CreateIRA")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
